@font-face {
    font-family: 'Work Sans';
    src : url(../fonts/WorkSans-Regular.ttf)
 }

 @font-face {
    font-family: 'Space Mono';
    src : url(../fonts/SpaceMono-Regular.ttf )
 }

body {background: #2B2B2B;}

@media only screen and (max-width:768px) {
  
    .img1 {width:30px !important;
           height: 30px !important;
    }
    .cont_1 {display: inline-block !important;}
    .cont {display: none !important;}
}

.cont_nav {
    color: #FFFFFF ;
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 600;
    line-height: 140%;
    margin-left:15px

}
    
     .cont_ul>li>a> button {
        width: 152px;
        height: 60px;   
        background: #A259FF;
        border:2px solid #A259FF ;
        border-radius: 20px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF ;
       
        
        }
    
   .cont_ul>li>a {
    text-decoration: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    
    
    color: #FFFFFF;
    }
   
    .cont_ul>li>a> button >img {margin-right:10px;}
    .cont_1>div>div>a>span {
     color: #FFFFFF ;
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    margin-left:5px;
    

        }
    a
        {text-decoration: none;}
    .butt_1 {
        background: #2B2B2B;
       border:2px solid #2B2B2B;
    }
    .cont-ul1{
        background: #2B2B2B;
    }
    .cont-ul1>li>a {
        text-decoration: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    
    
    color: #FFFFFF;

    }
    .btn_10 {
        width: 130px;
        height: 40px;   
        background: #A259FF;
        border:2px solid #A259FF ;
        border-radius: 20px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF ;
       
        
        }
    .btn_10>img {margin-right:10px;}